<!DOCTYPE html>
<html>
<% var currentHouse, currentFloor, nameArr, idArr, i;%>
<head>
  <title>Floor</title>
  <link rel="stylesheet" href="css/src/bootstrap.min.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="shortcut icon" href="images/shortcut.png">
  <script src="js/src/popper.min.js"></script>
  <script src="js/src/jquery-3.3.1.min.js"></script>
  <script src="js/src/bootstrap.min.js"></script>
  <script src="js/house/house.js"></script>
</head>
<body>

  <div class="navbar-spacer"></div>
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">
            <li class="navbar-item"><img style="height: 70px; padding-right: 25px;" src="images/favicon.png"></li>
            <li class="navbar-item"><a class="navbar-link" href="dashboard">Dashboard</a></li>
            <li class="navbar-item">
              <a class="navbar-link" href="wifi.html">WiFi</a>
            </li>
            <li class="navbar-item"><a class="navbar-link" href="about.html">About</a></li>
            <li class="navbar-item">
              <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
            </li>
            <a href="logout" class="btn btn-info btn-lg pull-right">
              <span class="glyphicon glyphicon-log-out"></span> Log out 
            </a>
            <a href="#" class="btn btn-info btn-lg pull-right">
               <span class="glyphicon glyphicon glyphicon-user"></span>
               <%= username %>
            </a>
          </ul>
        </div>
      </nav>

<div class="navbar-spacer"></div>
      <nav class="navbar">

 <ul class="navbar-list">
            <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-tree-deciduous"></span> <%= currentHouse %>
            </a>
            <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-menu-right"></span>
            </a>
             <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-tree-deciduous"></span> <%= currentFloor %>
            </a>
          </ul>
      </nav>


    <div class="row">
      <div class="col-md-offset-2 col-md-7">
         <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#formModal">Add new room</button>  

<div id="formModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form class="form" method="POST" action="floor/add">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New floor</h4>
      </div>
        <div class="modal-body">
       <div class="form-group">
          <label>Floor's name</label>
          <input class="form-control" name="roomName" id="roomName">
          <div id="duplicateName"></div>
        </div>
      </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>  
</div>
</div>

<%  for (i=0; i < nameArr.length; i++) { %>
    <div class="well">
    <form method="POST" action="floor/room">
      <input type="hidden" name="roomArr" value="<%= nameArr[i] %>">
      <input type="hidden" name="roomID" value="<%= idArr[i] %>">
  <h4><%= nameArr[i] %><button class="btn btn-default pull-right" data-toggle="collapse" href="#id_<%= idArr[i] %>">Edit properties</button><button type="submit" class="btn btn-default pull-right">View</button></h4>
  </form>

<div class="collapse" id="id_<%= idArr[i] %>">
            <button class="btn btn-default edit-area" data-id="<%= idArr[i] %>" data-name="<%= nameArr[i] %>">
              <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#editModal"></span>
            </button>
          <button class="btn btn-danger">
            <span class="glyphicon glyphicon-remove delete-area" aria-hidden="true"data-id="<%= idArr[i] %>"></span>
          </button>
    </div>
  </div>
<% } %>
  </div>
</div>
</div>

      <div class="docs-section" id="intro">
        <h6 class="docs-header" id="status_box"><a href="#">©2018 - FPT Jetking</a></h6>
      </div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Edit Modal-->
    <div class="modal-content">
      <form method="POST" action="floor/edit">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit name</h4>
      </div>
        <div class="modal-body">
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" name="editname" id="editname">
      </div>
        <input class="form-control" name="editid" id="editid" type="hidden">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>  
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>