<!DOCTYPE html>
<html>
<% var currentHouse, currentFloor, currentRoom, nameArr, idArr, deviceType, i, username; %>
<head>
	<title>Room</title>
  <link rel="shortcut icon" href="images/shortcut.png">
	<link rel="stylesheet" href="css/src/bootstrap.min.css">
  <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" text="text/css" href="css/room/room.css">
  <script src="js/src/popper.min.js"></script>
  <script src="js/src/jquery-3.3.1.min.js"></script>
  <script src="js/src/bootstrap.min.js"></script>
  <script src="js/src/easypiechart.js"></script>
  <script src="js/src/easypiechart-data.js"></script>
  <script src="js/room/room.js"></script>
</head>
<body>

  <div class="navbar-spacer"></div>
      <nav class="navbar">
        <div class="container">
          <ul class="navbar-list">
            <li class="navbar-item"><img style="height: 70px; padding-right: 25px;" src="images/favicon.png"></li>
            <li class="navbar-item"><a class="navbar-link" href="dashboard">Dashboard</a></li>
            <li class="navbar-item">
              <a class="navbar-link" href="wifi.html">WiFi</a>
            </li>
            <li class="navbar-item"><a class="navbar-link" href="about.html">About</a></li>
            <li class="navbar-item">
              <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
            </li>
            <a href="logout" class="btn btn-info btn-lg pull-right">
              <span class="glyphicon glyphicon-log-out"></span> Log out 
            </a>
            <a href="#" class="btn btn-info btn-lg pull-right">
               <span class="glyphicon glyphicon glyphicon-user"></span>
               <%= username %>
            </a>
          </ul>
        </div>
      </nav>

<div class="navbar-spacer"></div>
      <nav class="navbar">
          <ul class="navbar-list">
            <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-tree-deciduous"></span> <%= currentHouse %>
            </a>
            <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-menu-right"></span>
            </a>
             <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-tree-deciduous"></span> <%= currentFloor %>
            </a>
            <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-menu-right"></span>
            </a>
            <a class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-tree-deciduous"></span> <%= currentRoom %>
            </a>
          </ul>
      </nav>
	
	<div id="formModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    	<form class="form" method="POST" action="room/add">
        <div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h4 class="modal-title">New device</h4>
	    </div>
      	<div class="modal-body">
			<div class="form-group">
			    <label>Name</label>
    			<input class="form-control" name="deviceName" id="deviceName">
    			<div id="duplicateName"></div>
    			<label>Type</label>
    			<select name="deviceType">
  					<option value="analog">Analog</option>
  					<option value="digital">Digital</option>
 				 	  <option value="ad">Analog+Digital</option>
				</select>
    		</div>
  		</div>
  			<button type="submit" class="btn btn-default">Submit</button>
		</form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>	
</div>
</div>

<ul id="listdevice">
<%	for (i=0; i < nameArr.length; i++) { %>
  	<%	if ((deviceType[i] == "digital") || (deviceType[i] == "digital&analog")) { %>
  	<li>
  		<div class="square">
        <img id="bulb" src="images/bulb.jpg">
  		</div>  
  	<form method="POST" action="room/device" class="nameArr">
  		<input type="hidden" name="deviceType" value="<%= deviceType[i] %>">
		<h4><button class="btn btn-default" data-toggle="collapse" href="#id_<%= idArr[i] %>">Edit properties</button><button type="submit" class="btn btn-default"><%= nameArr[i] %></button></h4>
		<label class="switch">
  			<input type="checkbox" id="id_<%= idArr[i] %>">
  			<span class="slider round"></span>
		</label>
	</form>  		

  <div class="collapse" id="id_<%= idArr[i] %>">
            <button class="btn btn-default edit-device" data-id="<%= idArr[i] %>" data-name="<%= nameArr[i] %>">
              <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#editModal"></span>
            </button>
          <button class="btn btn-danger delete-device" data-id="<%= idArr[i] %>">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
    </div>
  	</li>
  	<% } else { %>
  	<li>

    <div class = "boxDistance">
      <div class = "square">
                <div class="panel panel-default">
                    <div class="panel-body easypiechart-panel">
                        <div class="easypiechart" id="easypiechart-red" data-percent="30"><span class="percent">30 &#8451;</span>
                        </div>
                    </div>
                </div>
        </div>
      </div>  

  	<form method="POST" action="room/device"  class="nameArr">
  		<input type="hidden" name="deviceType" value="<%= deviceType[i] %>">
		<h4><button class="btn btn-default" data-toggle="collapse" href="#id_<%= idArr[i] %>">Edit properties</button><button type="submit" class="btn btn-default"><%= nameArr[i] %></button></h4>
	</form>  		

  <div class="collapse" id="id_<%= idArr[i] %>">
            <button class="btn btn-default edit-device" data-id="<%= idArr[i] %>" data-name="<%= nameArr[i] %>">
              <span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="modal" data-target="#editModal"></span>
            </button>
          <button class="btn btn-danger">
            <span class="glyphicon glyphicon-remove delete-device" aria-hidden="true"data-id="<%= idArr[i] %>"></span>
          </button>
    </div>
  	</li>

  	<% } %>
<% } %>

<li>
	<button data-toggle="modal" data-target="#formModal">
		<img src="images/add.png">
	</button>
</li>
</ul>

<footer>
 <div class="docs-section" id="intro">
        <h6 class="docs-header"><a href="#">©2018 - Ho Chi Minh City University of Technology</a></h6>
</div>
</footer>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Edit Modal-->
    <div class="modal-content">
      <form method="POST" action="room/edit">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit name</h4>
      </div>
        <div class="modal-body">
      <div class="form-group">
          <label>Name</label>
          <input class="form-control" name="editname" id="editname">
      </div>
        <input class="form-control" name="editid" id="editid" type="hidden">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>  
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>